extends ../partials/header
block main
  .manifest-wrapper
    .manifest-header-wrapper
      .manifest-header-text-wrapper
        h1.manifest-title.general-text-five IBS Team
        h1.manifest-title.general-text-five Manifest
        .manifest-space
        span.manifest-quote.general-text-six "Tomorrow belongs to those who believe in the beauty of their dreams!"
        span.manifest-quote.general-text-six Epictetus
      .manifest-header-image-wrapper
        img.manifest-scroll(
          srcset='/res/images/manifest/scroll-300w.webp 300w, /res/images/manifest/scroll-400w.webp 400w, /res/images/manifest/scroll-500w.webp 500w'
          sizes='(max-width: 300px) 300px, (max-width: 400px) 400px, 500px'
          width='100%'
          loading='lazy'
          src='/res/images/manifest/scroll-500w.webp'
          alt='Istanbul Blockchain Summit Manifest - Scale the Future of the Blockchain'
        )
    .manifest-content-wrapper
      p.each-manifest-content-text.general-text-four Many economic problems, such as rising inflation at the global level, decreasing social confidence in fiat currencies offered by central authorities, losing the qualities of safe-haven currencies, and rising interest rates, threaten today's world. Moreover, humanity is faced with economic crises, wars, migrations, and climate change which cause socio-political changes. We should have focused on problems such as global warming that threatens our planet while the world is coming out of the pandemic, however, it is dragged into a depression by facing many more problems mentioned above.
      .manifest-space
      p.each-manifest-content-text.general-text-four The first developers of blockchain technology, which emerged at a time similar to the depression we are in, strived for a more fair, decentralized, reliable, and sustainable world. While we are apprehensive about the general situation of the world, we also have some concerns about the state of the blockchain ecosystem. Nevertheless, we believe that in order to never stray from the goal of a shared and fair blockchain ecosystem, we have to stick to the "blockchain philosophy" that was put forward more than a decade ago.
      .manifest-space
      .each-manifest-content-line
      .manifest-space
      p.each-manifest-content-text.general-text-four.general-text-bold "Tomorrow belongs to those who believe in the beauty of their dreams!"
      .manifest-space
      p.each-manifest-content-text.general-text-four.general-text-bold Epictetus
      .manifest-space
      .each-manifest-content-line
      .manifest-space
      p.each-manifest-content-text.general-text-four We invite developers, community managers, influencers, and all other partners of the blockchain ecosystem, to relapse to the basic blockchain philosophy and talk about hope in the darkest and most hopeless moments of the depression we are in, then finally to reveal the bright light of tomorrow together.
      .manifest-space
      .manifest-space
      p.each-manifest-content-text.general-text-four.general-text-bold Istanbul Blockchain Summit
      .manifest-space
      .manifest-space
      p.each-manifest-content-text.general-text-four There are many challenges we need to overcome before we can take blockchain technologies to the next level. The most difficult of these challenges are the ecosystem's sustainability, scalability, privacy, and financial volatility. It is our duty to focus on these problems with great seriousness and to produce solutions for the future of the world we live in. Istanbul Blockchain Summit invites you to create the philosophy of a decentralized and fair system together in the lands where philosophical thought was born.
      .manifest-space
      p.each-manifest-content-text.general-text-four Along with the panels, workshops, and hackathons we will organize, there are various topics that we will focus on at Istanbul Blockchain Summit;
      .manifest-space
      p.each-manifest-content-text.general-text-four To scale the adaptation: Every line of code we’ll write, every word that will come out of our mouth, and every thought we’ll think is to spread the values ​​of blockchain philosophy to the masses.
      .manifest-space
      p.each-manifest-content-text.general-text-four For the (decentralised) future: For a fair and decentralized future in every way that comes to one’s mind.
      .manifest-space
      p.each-manifest-content-text.general-text-four Secure the Privacy: To disseminate to the masses that the value of data security is more important than marketing campaigns.
      .manifest-space
      p.each-manifest-content-text.general-text-four Reliability: Not for a corrupt, buggy legacy system, but for a system written in error-free code.
      .manifest-space
      p.each-manifest-content-text.general-text-four Let's talk about how we can create a decentralized and fair new age in the light of the above values ​​in Istanbul, where one era has ended and another has opened. Let's bring our tomorrow together with our today in this city, which is located right in the middle of the east and the west.
      .manifest-space
      .each-manifest-content-line
      .manifest-space
      p.each-manifest-content-text.general-text-four.general-text-bold "Justice is nothing other than the advantage of the stronger!"
      .manifest-space
      p.each-manifest-content-text.general-text-four.general-text-bold Thrasymachus
      .manifest-space
      .each-manifest-content-line
      .manifest-space
      p.each-manifest-content-text.general-text-four Thrasymachus, one of the most influential thinkers of the ancient period, who was born in Istanbul, on the Bosphorus, is quite famous for his thoughts on the concept of "justice". He thought that justice, whether in democracies or autocracies under despotic governments, only serves the interests of those in power. The inadequacy of technology and other facilities in the age of Thrasymachus made him think that this desperate "justice" cycle was unbreakable. However, we can prevent centralized financial giants, who are the power centers, from using "justice" in their favor, with the technological opportunities provided by the current century, such as blockchain and the internet.
      .manifest-space
      p.each-manifest-content-text.general-text-four We invite you to turn the illusion of "justice", which does not exist in reality, into a true vision of "justice" by bringing issues into the agenda such as sustainability, scalability, privacy, and financial volatility that the blockchain ecosystem faces at the Istanbul Blockchain Summit.
