doctype html
html(lang='en')
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    meta(charset='UTF-8')
    if title
      title Istanbul Blockchain Summit | #{title}
    else
      title Istanbul Blockchain Summit
    if includes
      if includes.meta
        meta(property='og:type' content='website')
        if includes.meta.author
          meta(name='author' content=includes.meta.author)
        if includes.meta.description
          meta(name='description' content=includes.meta.description)
        if includes.meta.image
          meta(property='og:image' content=includes.meta.image)
          meta(property='og:image:secure_url' content=includes.meta.image)
          meta(property='og:image:type' content='image/png')
          meta(property='og:image:alt' content=includes.meta.description)
        if includes.meta.keywords
          meta(name='keywords' content=includes.meta.keywords)
        if includes.meta.title
          meta(property='og:title' content=includes.meta.title)
      if includes.external
        if includes.external.css
          each file_name in includes.external.css
            if file_name == 'page'
              link(rel='stylesheet' href=`/css/${page}.css`)
            else if file_name == 'fontawesome'
              link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css' integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ', crossorigin='anonymous')
            else
              link(rel='stylesheet' href=`/css/general/${file_name}.css`)
        if includes.external.js
          each file_name in includes.external.js
            if file_name == 'page'
              script(src=`/js/${page}.js`)
            else
              script(src=`/js/functions/${file_name}.js`)
    link(href='https://fonts.googleapis.com/css?family=Space+Grotesk:300,400,500,700' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Inter:500' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400' rel='stylesheet')
    body
    block content
