extends ../partials/header
block main
  .start-page-wrapper
    .start-page-background-shape
    .start-page-content-wrapper
      svg.start-page-title(viewBox='0 0 949 426' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M5.1779 115.114V2.25714H26.5368V115.114H5.1779Z' fill='white')
        path(d='M87.1622 117.371C78.4245 117.371 70.7116 115.813 64.0235 112.696C57.3353 109.579 52.1035 105.118 48.3279 99.314C44.5524 93.5099 42.6646 86.5236 42.6646 78.3549V73.8406H63.6998V78.3549C63.6998 85.1263 65.8034 90.2317 70.0104 93.6712C74.2175 97.0031 79.9347 98.6691 87.1622 98.6691C94.4976 98.6691 99.9452 97.2181 103.505 94.3161C107.173 91.414 109.007 87.7059 109.007 83.1916C109.007 80.0746 108.09 77.5488 106.256 75.6141C104.53 73.6794 101.941 72.1209 98.4889 70.9386C95.1448 69.6488 91.0456 68.4665 86.1914 67.3916L82.4697 66.5855C74.7029 64.8658 68.0148 62.7162 62.4054 60.1366C56.9039 57.4495 52.6429 53.9563 49.6224 49.657C46.7099 45.3577 45.2536 39.7686 45.2536 32.8897C45.2536 26.0108 46.8717 20.153 50.1079 15.3163C53.4519 10.3721 58.0905 6.61018 64.0235 4.0306C70.0644 1.34353 77.13 0 85.2205 0C93.311 0 100.485 1.39727 106.741 4.19182C113.106 6.87889 118.068 10.9632 121.628 16.4449C125.295 21.819 127.129 28.5904 127.129 36.7591V41.5958H106.094V36.7591C106.094 32.4598 105.231 29.0203 103.505 26.4408C101.887 23.7537 99.5137 21.819 96.3854 20.6367C93.257 19.3469 89.5354 18.702 85.2205 18.702C78.7481 18.702 73.9478 19.938 70.8195 22.4101C67.799 24.7748 66.2888 28.053 66.2888 32.2448C66.2888 35.0394 66.99 37.404 68.3923 39.3387C69.9025 41.2734 72.1139 42.8856 75.0265 44.1754C77.9391 45.4652 81.6607 46.5938 86.1914 47.5611L89.913 48.3672C98.0035 50.087 105.015 52.2903 110.948 54.9774C116.989 57.6645 121.682 61.2114 125.026 65.6182C128.37 70.025 130.042 75.6678 130.042 82.5467C130.042 89.4256 128.262 95.4984 124.702 100.765C121.25 105.924 116.288 110.009 109.816 113.018C103.451 115.92 95.8999 117.371 87.1622 117.371Z' fill='white')
        path(d='M168.55 115.114V21.604H135.541V2.25714H222.918V21.604H189.909V115.114H168.55Z' fill='white')
        path(d='M219.267 115.114L249.04 2.25714H286.256L316.029 115.114H294.023L287.874 90.2855H247.422L241.273 115.114H219.267ZM252.438 70.6161H282.858L269.104 15.6387H266.192L252.438 70.6161Z' fill='white')
        path(d='M329.587 115.114V2.25714H370.201L392.693 100.604H395.605V2.25714H416.64V115.114H376.026L353.535 16.7673H350.622V115.114H329.587Z' fill='white')
        path(d='M434.75 115.114V96.412H449.637V20.9591H434.75V2.25714H493.002C499.906 2.25714 505.893 3.43945 510.963 5.80408C516.141 8.06121 520.132 11.3394 522.937 15.6387C525.849 19.8306 527.306 24.8822 527.306 30.7938V32.406C527.306 37.5652 526.335 41.8108 524.393 45.1427C522.451 48.3672 520.132 50.8931 517.435 52.7203C514.846 54.44 512.365 55.6761 509.992 56.4284V59.3304C512.365 59.9753 514.954 61.2114 517.759 63.0386C520.563 64.7583 522.937 67.2842 524.878 70.6161C526.928 73.9481 527.953 78.3012 527.953 83.6753V85.2875C527.953 91.5215 526.497 96.8957 523.584 101.41C520.671 105.817 516.626 109.202 511.448 111.567C506.378 113.932 500.445 115.114 493.649 115.114H434.75ZM470.996 95.7671H491.06C495.699 95.7671 499.42 94.6385 502.225 92.3814C505.138 90.1243 506.594 86.8997 506.594 82.7079V81.0957C506.594 76.9039 505.192 73.6794 502.387 71.4222C499.582 69.1651 495.807 68.0365 491.06 68.0365H470.996V95.7671ZM470.996 48.6897H490.737C495.159 48.6897 498.773 47.5611 501.578 45.3039C504.49 43.0468 505.947 39.9298 505.947 35.953V34.3407C505.947 30.2564 504.544 27.1394 501.74 24.9897C498.935 22.7326 495.267 21.604 490.737 21.604H470.996V48.6897Z' fill='white')
        path(d='M589.127 117.371C579.85 117.371 571.867 115.705 565.179 112.373C558.599 108.934 553.529 104.097 549.969 97.863C546.517 91.5215 544.791 84.0515 544.791 75.4529V2.25714H566.15V76.0977C566.15 82.9766 568.092 88.4045 571.975 92.3814C575.966 96.3583 581.684 98.3467 589.127 98.3467C596.57 98.3467 602.233 96.3583 606.117 92.3814C610.108 88.4045 612.104 82.9766 612.104 76.0977V2.25714H633.463V75.4529C633.463 84.0515 631.683 91.5215 628.123 97.863C624.671 104.097 619.601 108.934 612.913 112.373C606.333 115.705 598.404 117.371 589.127 117.371Z' fill='white')
        path(d='M654.154 115.114V2.25714H675.513V95.7671H727.292V115.114H654.154Z' fill='white')
        path(d='M1.94171 269.428V250.726H16.8282V175.274H1.94171V156.572H60.1931C67.097 156.572 73.084 157.754 78.154 160.118C83.3319 162.376 87.3232 165.654 90.1279 169.953C93.0405 174.145 94.4967 179.197 94.4967 185.108V186.72C94.4967 191.88 93.5259 196.125 91.5842 199.457C89.6425 202.682 87.3232 205.208 84.6264 207.035C82.0374 208.754 79.5563 209.99 77.1831 210.743V213.645C79.5563 214.29 82.1453 215.526 84.95 217.353C87.7547 219.073 90.1279 221.599 92.0696 224.931C94.1192 228.263 95.144 232.616 95.144 237.99V239.602C95.144 245.836 93.6877 251.21 90.7751 255.724C87.8626 260.131 83.8173 263.517 78.6394 265.882C73.5694 268.246 67.6364 269.428 60.8404 269.428H1.94171ZM38.187 250.082H58.2514C62.89 250.082 66.6116 248.953 69.4163 246.696C72.3288 244.439 73.7851 241.214 73.7851 237.022V235.41C73.7851 231.218 72.3828 227.994 69.5781 225.737C66.7734 223.48 62.9978 222.351 58.2514 222.351H38.187V250.082ZM38.187 203.004H57.9278C62.3506 203.004 65.9643 201.876 68.769 199.618C71.6816 197.361 73.1379 194.244 73.1379 190.267V188.655C73.1379 184.571 71.7355 181.454 68.9308 179.304C66.1261 177.047 62.4585 175.918 57.9278 175.918H38.187V203.004Z' fill='white')
        path(d='M112.63 269.428V156.572H133.988V250.082H185.767V269.428H112.63Z' fill='white')
        path(d='M240.549 271.686C226.31 271.686 214.983 267.816 206.569 260.077C198.155 252.231 193.948 241.053 193.948 226.543V199.457C193.948 184.947 198.155 173.823 206.569 166.084C214.983 158.238 226.31 154.314 240.549 154.314C254.788 154.314 266.115 158.238 274.529 166.084C282.943 173.823 287.15 184.947 287.15 199.457V226.543C287.15 241.053 282.943 252.231 274.529 260.077C266.115 267.816 254.788 271.686 240.549 271.686ZM240.549 252.661C248.531 252.661 254.734 250.35 259.157 245.728C263.58 241.107 265.791 234.926 265.791 227.188V198.812C265.791 191.074 263.58 184.893 259.157 180.271C254.734 175.65 248.531 173.339 240.549 173.339C232.674 173.339 226.471 175.65 221.941 180.271C217.518 184.893 215.307 191.074 215.307 198.812V227.188C215.307 234.926 217.518 241.107 221.941 245.728C226.471 250.35 232.674 252.661 240.549 252.661Z' fill='white')
        path(d='M348.926 271.686C334.902 271.686 323.791 267.816 315.593 260.077C307.395 252.231 303.295 241.053 303.295 226.543V199.457C303.295 184.947 307.395 173.823 315.593 166.084C323.791 158.238 334.902 154.314 348.926 154.314C362.841 154.314 373.575 158.13 381.126 165.761C388.785 173.285 392.614 183.657 392.614 196.878V197.845H371.579V196.233C371.579 189.569 369.691 184.087 365.916 179.788C362.248 175.489 356.585 173.339 348.926 173.339C341.375 173.339 335.442 175.65 331.127 180.271C326.812 184.893 324.654 191.181 324.654 199.135V226.865C324.654 234.712 326.812 240.999 331.127 245.728C335.442 250.35 341.375 252.661 348.926 252.661C356.585 252.661 362.248 250.511 365.916 246.212C369.691 241.805 371.579 236.324 371.579 229.767V226.865H392.614V229.122C392.614 242.343 388.785 252.769 381.126 260.4C373.575 267.924 362.841 271.686 348.926 271.686Z' fill='white')
        path(d='M410.018 269.428V156.572H431.377V201.392H434.289L471.02 156.572H498.366L451.117 212.194L499.984 269.428H471.829L434.289 223.641H431.377V269.428H410.018Z' fill='white')
        path(d='M549.449 271.686C535.426 271.686 524.315 267.816 516.117 260.077C507.918 252.231 503.819 241.053 503.819 226.543V199.457C503.819 184.947 507.918 173.823 516.117 166.084C524.315 158.238 535.426 154.314 549.449 154.314C563.365 154.314 574.098 158.13 581.649 165.761C589.308 173.285 593.138 183.657 593.138 196.878V197.845H572.103V196.233C572.103 189.569 570.215 184.087 566.439 179.788C562.772 175.489 557.108 173.339 549.449 173.339C541.898 173.339 535.965 175.65 531.65 180.271C527.335 184.893 525.178 191.181 525.178 199.135V226.865C525.178 234.712 527.335 240.999 531.65 245.728C535.965 250.35 541.898 252.661 549.449 252.661C557.108 252.661 562.772 250.511 566.439 246.212C570.215 241.805 572.103 236.324 572.103 229.767V226.865H593.138V229.122C593.138 242.343 589.308 252.769 581.649 260.4C574.098 267.924 563.365 271.686 549.449 271.686Z' fill='white')
        path(d='M610.541 269.428V156.572H631.9V203.165H673.971V156.572H695.329V269.428H673.971V222.512H631.9V269.428H610.541Z' fill='white')
        path(d='M708.962 269.428L738.735 156.572H775.951L805.724 269.428H783.718L777.569 244.6H737.117L730.968 269.428H708.962ZM742.133 224.931H772.553L758.799 169.953H755.887L742.133 224.931Z' fill='white')
        path(d='M819.282 269.428V156.572H840.641V269.428H819.282Z' fill='white')
        path(d='M861.947 269.428V156.572H902.561L925.052 254.918H927.965V156.572H949V269.428H908.386L885.894 171.082H882.982V269.428H861.947Z' fill='white')
        path(d='M44.4976 426C35.7599 426 28.047 424.442 21.3589 421.325C14.6707 418.208 9.43889 413.747 5.66333 407.943C1.88778 402.139 0 395.152 0 386.984V382.469H21.0352V386.984C21.0352 393.755 23.1388 398.861 27.3458 402.3C31.5529 405.632 37.2701 407.298 44.4976 407.298C51.833 407.298 57.2806 405.847 60.8404 402.945C64.5081 400.043 66.3419 396.335 66.3419 391.82C66.3419 388.703 65.425 386.178 63.5911 384.243C61.8652 382.308 59.2762 380.75 55.8243 379.567C52.4802 378.278 48.381 377.095 43.5268 376.021L39.8051 375.214C32.0383 373.495 25.3502 371.345 19.7408 368.765C14.2392 366.078 9.97825 362.585 6.95781 358.286C4.04524 353.987 2.58895 348.397 2.58895 341.519C2.58895 334.64 4.20705 328.782 7.44324 323.945C10.7873 319.001 15.4258 315.239 21.3589 312.659C27.3997 309.972 34.4654 308.629 42.5559 308.629C50.6464 308.629 57.8199 310.026 64.0766 312.821C70.4411 315.508 75.4032 319.592 78.963 325.074C82.6307 330.448 84.4646 337.219 84.4646 345.388V350.225H63.4293V345.388C63.4293 341.089 62.5663 337.649 60.8404 335.07C59.2223 332.383 56.8491 330.448 53.7208 329.266C50.5924 327.976 46.8708 327.331 42.5559 327.331C36.0835 327.331 31.2832 328.567 28.1549 331.039C25.1344 333.404 23.6242 336.682 23.6242 340.874C23.6242 343.668 24.3254 346.033 25.7277 347.968C27.2379 349.902 29.4493 351.515 32.3619 352.804C35.2745 354.094 38.9961 355.223 43.5268 356.19L47.2484 356.996C55.3388 358.716 62.3506 360.919 68.2836 363.606C74.3245 366.293 79.017 369.84 82.361 374.247C85.7051 378.654 87.3771 384.297 87.3771 391.176C87.3771 398.054 85.5972 404.127 82.0374 409.394C78.5855 414.553 73.6233 418.637 67.1509 421.647C60.7864 424.549 53.2353 426 44.4976 426Z' fill='white')
        path(d='M146.995 426C137.718 426 129.735 424.334 123.047 421.002C116.467 417.563 111.397 412.726 107.837 406.492C104.385 400.15 102.659 392.68 102.659 384.082V310.886H124.018V384.727C124.018 391.606 125.96 397.033 129.843 401.01C133.835 404.987 139.552 406.976 146.995 406.976C154.438 406.976 160.102 404.987 163.985 401.01C167.976 397.033 169.972 391.606 169.972 384.727V310.886H191.331V384.082C191.331 392.68 189.551 400.15 185.991 406.492C182.539 412.726 177.469 417.563 170.781 421.002C164.201 424.334 156.272 426 146.995 426Z' fill='white')
        path(d='M212.022 423.743V310.886H251.666L271.245 409.233H274.157L293.736 310.886H333.379V423.743H312.668V326.525H309.755L290.338 423.743H255.064L235.646 326.525H232.734V423.743H212.022Z' fill='white')
        path(d='M354.712 423.743V310.886H394.355L413.934 409.233H416.847L436.425 310.886H476.069V423.743H455.357V326.525H452.445L433.027 423.743H397.753L378.336 326.525H375.423V423.743H354.712Z' fill='white')
        path(d='M497.401 423.743V310.886H518.76V423.743H497.401Z' fill='white')
        path(d='M566.279 423.743V330.233H533.27V310.886H620.647V330.233H587.638V423.743H566.279Z' fill='white')
      .start-page-subtitle.general-text-two Spring 2023
  .start-page-animation-wrapper
  .each-content-wrapper.second-page-wrapper
    h1.each-content-title.general-text-five Scale the future
    h1.each-content-title.general-text-five of Blockchain
    h2.each-content-subtitle.general-text-four There are problems we need to solve to ensure that everyone can use blockchain technologies.”
    .each-content-space
    p.each-content-text.general-text-four Istanbul Blockchain Summit is a conference where solutions that will take blockchain technologies to the next level will be presented.
    p.each-content-text.general-text-four This Summit will take place in the Spring of 2023. Participants from blockchain companies, developer communities, and community managers will evaluate solutions for the ecosystem's problems, such as sustainability, scalability, privacy, and financial volatility.
  .trailer-wrapper
    .trailer-background
    img.trailer(
      srcset='/res/images/trailer/istanbul-blockchain-summit-trailer-300w.gif 300w, /res/images/trailer/istanbul-blockchain-summit-trailer-600w.gif 600w'
      sizes='(max-width: 500px) 300px, 600px'
      width='100%'
      loading='lazy'
      src='/res/images/trailer/istanbul-blockchain-summit-trailer-600w.gif'
      alt='Istanbul Blockchain Summit Trailer - Scale the Future of the Blockchain'
    )
    .trailer-play-icon-wrapper
      svg.trailer-play-icon(viewBox='0 0 30 34' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M1.11111 34C0.919752 34 0.725307 33.948 0.555553 33.8501C0.212961 33.6542 0 33.2901 0 32.8954V1.10151C0 0.706801 0.209874 0.342693 0.555553 0.146868C0.898146 -0.0489561 1.32407 -0.0489561 1.66667 0.146868L29.4444 16.0913C29.787 16.2871 30 16.6542 30 17.0459C29.9969 17.4375 29.787 17.8047 29.4414 18.0005L1.66358 33.8501C1.49383 33.948 1.30247 34 1.11111 34ZM2.22222 3.0108V30.9923L26.6667 17.0428L2.22222 3.0108Z' fill='white')
  .each-content-space
  .each-content-wrapper.clock-wrapper
    h1.each-content-title.general-text-five.clock-title Leave the old order behind!
    .clock-image-outer-wrapper
      .clock-image-wrapper
        img.clock(
          srcset='/res/images/icons/clock-150w.webp 150w, /res/images/icons/clock-300w.webp 300w'
          sizes='(max-width: 500px) 150px, 300px'
          src='/res/images/icons/clock-300w.webp'
          loading='lazy'
          alt='Clock Icon for Istanbul Blockchain Summit - Scale the Future of the Blockchain'
        )
        img.each-shape.clock-shape-1(
          src='/res/images/shapes/shape-1.webp'
          loading='lazy'
          alt='Clock Icon Support Shape for Istanbul Blockchain Summit - Scale the Future of the Blockchain'
        )
        img.each-shape.clock-shape-2(
          src='/res/images/shapes/shape-2.webp'
          loading='lazy'
          alt='Clock Icon Support Shape for Istanbul Blockchain Summit - Scale the Future of the Blockchain'
        )
        img.each-shape.clock-shape-3(
          src='/res/images/shapes/shape-3.webp'
          loading='lazy'
          alt='Clock Icon Support Shape for Istanbul Blockchain Summit - Scale the Future of the Blockchain'
        )
      .clock-image-text-wrapper
        p.each-content-text.general-text-four Inflation, wars, climate crisis and inequality... The world is in a depression. The world economy and socio-political order are in an impasse.
        p.each-content-text.general-text-four Blockchain exists for a more equal world in every way. For a better future, Blockchain has problems to overcome.
  .each-content-space
  .each-content-wrapper
    h1.each-content-title.general-text-five.cube-title Design the Future with
    h1.each-content-title.general-text-five.cube-title Blockchain, from Scratch!
    .cube-image-outer-wrapper
      .cube-image-text-wrapper
        p.each-content-text.general-text-four Raising a more pluralistic, decentralized, equitable and sustainable future with blockchain technologies is the greatest contribution we can make to the future. Istanbul Blockchain Summit invites you to talk about the obstacles in front of blockchain and to build tomorrow with better solutions today.
      .small-cube-image-wrapper
        img.small-cube(
          srcset='/res/images/icons/small-cube-80w.webp 80w, /res/images/icons/small-cube-125w.webp 125w'
          sizes='(max-width: 500px) 80px, 125px'
          src='/res/images/icons/small-cube-125w.webp'
          loading='lazy'
          alt='Small Cube Icon for Istanbul Blockchain Summit - Scale the Future of the Blockchain'
        )
      .cube-image-wrapper
        img.cube(
          srcset='/res/images/icons/cube-150w.webp 150w, /res/images/icons/cube-300w.webp 300w'
          sizes='(max-width: 500px) 150px, 300px'
          src='/res/images/icons/cube-300w.webp'
          loading='lazy'
          alt='Cube Icon for Istanbul Blockchain Summit - Scale the Future of the Blockchain'
        )
      img.each-shape.cube-shape-1(
          src='/res/images/shapes/shape-4.webp'
          loading='lazy'
          alt='Cube Icon Support Shape for Istanbul Blockchain Summit - Scale the Future of the Blockchain'
        )
      img.each-shape.cube-shape-2(
          src='/res/images/shapes/shape-5.webp'
          loading='lazy'
          alt='Cube Icon Support Shape for Istanbul Blockchain Summit - Scale the Future of the Blockchain'
        )
  .each-content-space
  .each-content-space
  article.each-link-wrapper
    h2.each-link-title.general-text-five Read our Manifest!
    svg.each-link-background-icon(viewBox='0 0 402 450' fill='none' xmlns='http://www.w3.org/2000/svg')
      path(d='M2.69194 262.708L2.69591 262.7L50.4235 174.523C51.2303 78.4345 129.66 0.5 225.954 0.5C322.748 0.5 401.485 79.2271 401.5 176.009C401.5 219.097 385.814 260.372 357.255 292.508L357.226 449L357.226 449.5H356.726H346.085H345.585L345.585 449L345.615 288.216L345.615 288.02L345.747 287.877L347.147 286.359C347.148 286.358 347.148 286.358 347.149 286.357M2.69194 262.708L61.5483 176.009C61.5483 85.3615 135.309 11.6245 225.954 11.6245C316.598 11.6245 390.359 85.3615 390.359 176.009C390.359 217.061 375.144 256.372 347.517 286.696L347.149 286.357M2.69194 262.708L2.68822 262.715C-0.517501 269.141 -0.185101 276.629 3.58102 282.724L3.5812 282.724C7.36136 288.832 13.8973 292.493 21.0815 292.493H50.4224V330.95C50.4224 356.635 64.1134 379.503 83.9009 396.277C103.561 412.943 129.285 423.635 153.729 425.124V449V449.5H154.229H164.855H165.355V449V414.175V413.675H164.855H159.542C137.005 413.675 112.614 404.634 93.8603 389.751C75.107 374.868 62.0483 354.193 62.0483 330.95V281.369V280.869H61.5483H21.0815C17.9039 280.869 15.1433 279.335 13.4787 276.635C11.8126 273.934 11.6757 270.77 12.9957 268.082M2.69194 262.708L12.9957 268.082M347.149 286.357C374.691 256.125 389.859 216.936 389.859 176.009C389.859 85.6377 316.322 12.1245 225.954 12.1245C135.585 12.1245 62.0483 85.6377 62.0483 176.009V176.072L62.0327 176.133L61.3833 178.671L61.368 178.731L61.3386 178.785L12.9999 268.073C12.9985 268.076 12.9971 268.079 12.9957 268.082M347.149 286.357L12.9957 268.082M198.004 271.925V272.425H198.504H209.13H209.63V271.925V181.012V180.788L209.463 180.639L154.058 131.053C156.497 126.904 157.976 122.131 157.976 116.984C157.976 101.583 145.444 89.0376 130.026 89.0376C114.608 89.0376 102.076 101.583 102.076 116.984C102.076 132.385 114.608 144.931 130.026 144.931C136.091 144.931 141.65 142.923 146.227 139.642L198.004 186.001V271.925ZM198.004 449V449.5H198.504H209.13H209.63V449V313.567V313.32L209.433 313.17L162.217 277.124C164.156 273.337 165.355 269.107 165.355 264.547C165.355 249.146 152.823 236.6 137.405 236.6C121.987 236.6 109.455 249.131 109.455 264.547C109.455 279.963 121.987 292.493 137.405 292.493C144.075 292.493 150.107 290.057 154.905 286.154L198.004 319.053V449ZM227.52 449V449.5H228.02H238.661H239.161V449V100.024C251.778 97.3443 261.283 86.1273 261.283 72.7154C261.283 57.314 248.736 44.7688 233.333 44.7688C217.93 44.7688 205.383 57.2991 205.383 72.7154C205.383 86.1275 214.888 97.3446 227.52 100.024V449ZM268.677 449V377.883L289.597 359.921C294.394 363.83 300.448 366.275 307.124 366.275C322.527 366.275 335.074 353.729 335.074 338.328C335.074 322.927 322.527 310.381 307.124 310.381C291.72 310.381 279.173 322.927 279.173 338.328C279.173 342.867 280.362 347.088 282.28 350.853L257.21 372.405L257.036 372.554V372.784V449V449.5H257.536H268.177H268.677V449ZM257.224 224.728L257.036 224.878V225.118V330.95V331.45H257.536H268.177H268.677V330.95V230.449L294.309 209.935C299.396 215.294 306.536 218.712 314.503 218.712C329.906 218.712 342.453 206.182 342.453 190.765C342.453 175.349 329.906 162.819 314.503 162.819C299.1 162.819 286.553 175.349 286.553 190.765C286.553 193.999 287.195 197.058 288.203 199.938L257.224 224.728ZM130.026 133.306C121.034 133.306 113.702 125.975 113.702 116.984C113.702 107.993 121.034 100.662 130.026 100.662C139.018 100.662 146.35 107.993 146.35 116.984C146.35 125.975 139.018 133.306 130.026 133.306ZM137.405 280.869C128.413 280.869 121.081 273.552 121.081 264.547C121.081 255.542 128.413 248.225 137.405 248.225C146.397 248.225 153.729 255.542 153.729 264.547C153.729 273.552 146.397 280.869 137.405 280.869ZM3.99026 282.471L3.99019 282.471L3.99026 282.471ZM233.333 89.0375C224.326 89.0375 217.009 81.7064 217.009 72.7154C217.009 63.7244 224.326 56.3933 233.333 56.3933C242.339 56.3933 249.657 63.7244 249.657 72.7154C249.657 81.7064 242.339 89.0375 233.333 89.0375ZM307.124 354.65C298.117 354.65 290.799 347.334 290.799 338.328C290.799 329.323 298.117 322.006 307.124 322.006C316.13 322.006 323.448 329.323 323.448 338.328C323.448 347.334 316.13 354.65 307.124 354.65ZM314.503 207.088C305.496 207.088 298.178 199.756 298.178 190.765C298.178 181.774 305.496 174.443 314.503 174.443C323.509 174.443 330.827 181.774 330.827 190.765C330.827 199.756 323.509 207.088 314.503 207.088Z' fill='#E3E3E3' fill-opacity='0.03' stroke='url(#paint0_linear_192_2115)')
      defs
        linearGradient(id='paint0_linear_192_2115' x1='393' y1='92' x2='0.999994' y2='349' gradientUnits='userSpaceOnUse')
          stop(stop-color='white' stop-opacity='0.15')
          stop(offset='1' stop-color='white' stop-opacity='0')
    a.each-link-button(href='/manifest' target='_blank')
      h4.each-link-button-text.general-text-one Read our Manifest
      svg.each-link-button-icon(viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M1.43834 25.9867L0.642848 25.1912L23.9895 1.84456L12.0891 1.84345L12.0891 0.720922L25.9098 0.71982L25.9098 14.5415L24.785 14.5393L24.785 2.64006L1.43834 25.9867Z' fill='white')
  article.each-link-wrapper
    h2.each-link-title.general-text-five.each-link-title-mobile-display-none Do you want to contribute?
    h2.each-link-title.general-text-five Be our sponsor!
    h3.each-link-subtitle.general-text-four Do you have a product that contributes to the future of blockchain? Contact us! Let's unite the future of the chain with the present in the city where east and west meet.
    svg.each-link-background-icon(viewBox='0 0 454 302' fill='none' xmlns='http://www.w3.org/2000/svg')
      path(d='M15.7825 -20.344H128.221V3.36768C128.221 6.58233 130.825 9.18245 134.043 9.18245H193.173C196.39 9.18245 198.995 6.58233 198.995 3.36768V-20.344H311.433H311.933V-20.844V-31.4735V-31.9735H311.433H198.995V-55.6852C198.995 -58.8999 196.39 -61.5 193.173 -61.5H134.043C130.825 -61.5 128.221 -58.8999 128.221 -55.6852V-31.9735H15.7825H15.2825V-31.4735V-20.844V-20.344H15.7825ZM198.995 322.344V298.632C198.995 295.418 196.39 292.818 193.173 292.818H134.043C130.825 292.818 128.221 295.418 128.221 298.632V322.344H15.7825H15.2825V322.844V333.488V333.988H15.7825H128.221V357.685C128.221 360.9 130.825 363.5 134.043 363.5H193.173C196.39 363.5 198.995 360.9 198.995 357.685V333.974H311.433H311.933V333.474V322.844V322.344H311.433H198.995ZM60.1301 68.2354H290.829V91.9471C290.829 95.1617 293.433 97.7618 296.65 97.7618H355.781C358.998 97.7618 361.602 95.1617 361.602 91.9471V32.8941C361.602 29.6795 358.998 27.0794 355.781 27.0794H296.65C293.433 27.0794 290.829 29.6795 290.829 32.8941V56.6058H60.1301H59.6301V57.1058V67.7354V68.2354H60.1301ZM60.1301 245.409H290.829V269.106C290.829 272.32 293.433 274.921 296.65 274.921H355.781C358.998 274.921 361.602 272.32 361.602 269.106V210.053C361.602 206.838 358.998 204.238 355.781 204.238H296.65C293.433 204.238 290.829 206.838 290.829 210.053V233.765H60.1301H59.6301V234.265V244.909V245.409H60.1301ZM404.251 102.607L403.898 102.254L403.545 102.606L396.006 110.121L395.651 110.475L396.005 110.829L430.421 145.2H258.125V121.474C258.125 118.259 255.52 115.659 252.303 115.659H193.173C189.956 115.659 187.351 118.259 187.351 121.474V145.185H1H0.5V145.685V156.315V156.815H1H187.351V180.526C187.351 183.741 189.956 186.341 193.173 186.341H252.303C255.52 186.341 258.125 183.741 258.125 180.526V156.815H430.421L396.005 191.171L395.651 191.525L396.005 191.879L403.544 199.408L403.898 199.761L404.251 199.408L452.353 151.354L452.708 151L452.353 150.646L404.251 102.607ZM139.864 -49.8705H187.351V-2.44708H139.864V-49.8705ZM187.351 351.87H139.864V304.447H187.351V351.87ZM302.472 38.7089H349.944V86.1323H302.472V38.7089ZM349.959 263.291H302.472V215.868H349.944L349.959 263.291ZM246.481 174.712H198.995V127.288H246.481V174.712Z' fill='#E3E3E3' fill-opacity='0.03' stroke='url(#paint0_linear_12931_268769)')
      defs
        linearGradient(id='paint0_linear_12931_268769' x1='505.5' y1='33' x2='-95.5' y2='273.5' gradientUnits='userSpaceOnUse')
          stop(stop-color='white' stop-opacity='0.15')
          stop(offset='1' stop-color='white' stop-opacity='0')
    a.each-link-button(href='https://forms.gle/2VkvstEvaxE2siB96' target='_blank')
      h4.each-link-button-text.general-text-one Be our Sponsor
      svg.each-link-button-icon(viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M1.43834 25.9867L0.642848 25.1912L23.9895 1.84456L12.0891 1.84345L12.0891 0.720922L25.9098 0.71982L25.9098 14.5415L24.785 14.5393L24.785 2.64006L1.43834 25.9867Z' fill='white')
  article.each-link-wrapper
    h2.each-link-title.general-text-five Or be our partner!
    h3.each-link-subtitle.general-text-four Istanbul Blockchain Summit is a very large and comprehensive conference. There are many points that you can contribute to the preparation and organization of the event. If you want to contribute, contact us.
    svg.each-link-background-icon(viewBox='0 0 496 302' fill='none' xmlns='http://www.w3.org/2000/svg')
      path(d='M328.404 -16.5H327.904V-16V-4.39382V-3.89382H328.404C378.03 -3.89382 418.599 47.9867 418.599 112.039C418.599 142.349 405.843 168.232 395.718 184.078L388.213 150.809L388.103 150.321L387.615 150.432L376.31 152.995L375.823 153.105L375.933 153.593L387.865 206.417L387.975 206.905L388.464 206.794L441.032 194.817L441.519 194.706L441.408 194.219L438.835 182.919L438.724 182.431L438.236 182.542L407.11 189.64C417.958 172.32 431.209 144.585 431.209 112.039C431.209 69.7637 414.766 32.2417 389.484 8.79051C444.385 32.5783 482.938 87.3267 482.938 151C482.938 236.401 413.628 305.894 328.42 305.894C303.994 305.894 280.959 300.048 260.395 289.872C306.342 258.916 334.709 206.865 334.709 151C334.709 58.6493 259.743 -16.5 167.612 -16.5C75.4821 -16.5 0.5 58.6493 0.5 151C0.5 243.367 75.4499 318.5 167.596 318.5H168.096V318V306.394V305.894H167.596C117.97 305.894 77.401 254.013 77.401 189.961C77.401 159.636 90.1727 133.768 100.298 117.922L107.803 151.191L107.913 151.679L108.401 151.568L119.69 149.005L120.177 148.895L120.067 148.407L108.135 95.5671L108.025 95.0784L107.536 95.1897L54.9845 107.167L54.4979 107.278L54.6079 107.764L57.1647 119.08L57.2751 119.569L57.7633 119.458L88.8898 112.376C78.0431 129.681 64.8229 157.416 64.8229 189.961C64.8229 232.221 81.2507 269.742 106.532 293.193C51.6314 269.406 13.0781 214.673 13.0781 151C13.0781 65.5988 82.4045 -3.89382 167.596 -3.89382C192.022 -3.89382 215.057 1.95179 235.621 12.1279C189.658 43.0676 161.307 95.1196 161.307 151C161.307 243.367 236.257 318.5 328.404 318.5C420.55 318.5 495.5 243.367 495.5 151C495.5 58.6494 420.55 -16.5 328.404 -16.5ZM173.885 151C173.885 97.1643 202.245 47.0232 247.952 18.9536C292.339 46.2057 322.115 95.115 322.115 151C322.115 204.836 293.755 254.961 248.048 283.046C203.661 255.794 173.885 206.885 173.885 151Z' fill='#E3E3E3' fill-opacity='0.03' stroke='url(#paint0_linear_12931_268777)')
      defs
        linearGradient(id='paint0_linear_12931_268777' x1='520.249' y1='3.22699' x2='-96.9122' y2='317.588' gradientUnits='userSpaceOnUse')
          stop(stop-color='white' stop-opacity='0.17')
          stop(offset='1' stop-color='white' stop-opacity='0')
    a.each-link-button(href='https://docs.google.com/forms/d/e/1FAIpQLSesEv6AvGElB7IEs0fnrGP79JeBxt85_2zJgFsXRNrQJZVDtA/viewform' target='_blank')
      h4.each-link-button-text.general-text-one Be our Partner
      svg.each-link-button-icon(viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M1.43834 25.9867L0.642848 25.1912L23.9895 1.84456L12.0891 1.84345L12.0891 0.720922L25.9098 0.71982L25.9098 14.5415L24.785 14.5393L24.785 2.64006L1.43834 25.9867Z' fill='white')
  .each-content-space
  .each-content-wrapper.phone-wrapper
    h1.each-content-title.general-text-five.phone-title Follow the News
    .phone-image-outer-wrapper
      .phone-image-text-wrapper
        p.each-content-text.general-text-four The venue, date, sponsors and speakers of the event have not been fully clarified yet. Subscribe to our newsletter and follow social media accounts to not miss the latest news about the event.
      .phone-image-wrapper
        img.phone(
          srcset='/res/images/icons/phone-300w.webp 300w, /res/images/icons/phone-600w.webp 600w'
          sizes='(max-width: 500px) 300px, 600px'
          src='/res/images/icons/phone-600w.webp'
          loading='lazy'
          alt='Phone Icon for Istanbul Blockchain Summit - Scale the Future of the Blockchain'
        )
        .phone-light-wrapper
          .phone-light-1
          .phone-light-2
          .phone-light-3
        img.each-shape.phone-shape-1(
          src='/res/images/shapes/shape-6.webp'
          loading='lazy'
          alt='Phone Icon Support Shape for Istanbul Blockchain Summit - Scale the Future of the Blockchain'
        )
        img.each-shape.phone-shape-2(
          src='/res/images/shapes/shape-7.webp'
          loading='lazy'
          alt='Phone Icon Support Shape for Istanbul Blockchain Summit - Scale the Future of the Blockchain'
        )
  .each-content-space
  .each-content-space
  .each-content-space
